.slider-container {
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  margin-left: 3rem;
}

.slider-inner {
  display: flex;
  width: 40%;
  gap: 1rem;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  background-color: #f8f8f8;
  border-radius: 1rem;
}

.testimonial {
  padding: 20px;
}

.testimonial-text {
  white-space: normal;
  overflow-wrap: break-word;
}
.testimonial-text {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  padding-bottom: 2rem;
}
.testimonial-info {
  display: flex;
  align-items: center;
}

.testimonial-image img {
  border-radius: 50%;
  margin-right: 15px;
}

.testimonial-details h3 {
  margin: 0;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}

.testimonial-details p {
  margin: 0;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  color: #000000;
}

.dots-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.dots-wrapper {
  display: flex;
  padding: 10px 10px;
  border: none;
  border-radius: 20px;
  background-color: #f0f0f0;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #f0f0f0;
}
.stars {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Add space between stars and the text */
}

.star {
  height: 20px; /* Adjust as needed */
  width: 20px; /* Adjust as needed */
  margin-right: 5px;
}

.half-star {
  position: relative;
  display: inline-block;
}

.half-star img {
  position: absolute;
  clip: rect(-10px, 20px, 20px, 0);
}
@media screen and (max-width: 700px) {
  .testimonial-info {
    flex-direction: column;
    align-items: flex-start;
  }
  .slider-inner {
    width: 100%;
  }
  .slider {
    margin-left: 1rem;
  }
  .testimonial-image img {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .dots-container {
    margin-top: -7rem;
    background-color: #000000;
  }

  .dots-wrapper {
    border-radius: 10px; /* Adjusted for smaller screens */
  }

  .star {
    height: 15px; /* Adjust for smaller screens */
    width: 15px; /* Adjust for smaller screens */
  }
}
